.row.text-xs-center.py-3.mt-3
  .col-xs-12.col-lg-8.offset-lg-2
    %h1.py-3.title
      Cambridge Inventors Club
    %p.mt-1
      Starting in August of 2016 we partnered with
      = link_to('Pivotal Labs', 'https://pivotal.io/labs', target: '_blank')
      on what started out as a "learn to code" program but has since expanded
      to include more hands-on engineering and an focus on invention.

    %p
      Moving forward we'll be supporting students in exploring creative
      problem solving using technical skills such as coding and engineering.
      We work with them on the creative process, rapid prototyping, and
      reflecting on the challenges, their solutions, and the overall environment
      in which they are working.


.row
  .col-xs-12.col-md-6.py-2
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/vS_m7DIDGS8"}

  .col-xs-12.col-md-6.py-2
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/XlrA0otiTHk"}


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Goal
    %p
      The primary goal of the Cambridge Inventors Club is to create a safe, healthy,
      interesting, and fun environment for young people to explore creative problem
      solving through the lens of technical skills such as coding and engineering.
    %p
      We bring together volunteers from the technology community in the general
      area around Kendall Sq and Cambridge to both support students in their work
      and to connect students with a variety of adults working in various technological
      fields.

  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/pivotal/image1.jpg', class: 'rounded img-fluid'


.row.py-2

  .col-lg-4.offset-lg-1.hidden-md-down
    = image_tag 'programs/pivotal/image6.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/pivotal/image7.jpg', class: 'rounded img-fluid'

  .col-xs-12.col-md-10.offset-md-1.offset-lg-0.col-lg-6
    %h5 The Approach
    %p
      Within this program we would focus on a number of ideas that we want to explore with The Puzzle School:
    %ul.no_shift.spaced_out
      %li
        Exposing students to a variety of challenges and interesting problems that can stimulate
        their creative problem-solving abilities.
      %li
        Having students test resources and provide feedback
        in order to find the best resources students can use to learn at their own pace.
      %li
        Having students engage in a variety of design exercises to help foster ideas, techniques, and skills
        such as rapid-prototyping and team communication.
      %li
        Running retrospectives at the end of each sessions to get feedback from students around
        what worked and didn't with regard to the challenge, their work and solution, and the overall
        environment they are working in.
      %li
        Supporting students toward independent and small group projects (inventions) they design
        themselves and will continue working on at home.

    %p
      Some of the resources and activities we've had success with include:
    %ul.no_shift.spaced_out
      %li= link_to('CodeCombat', 'https://codecombat.com/', target: '_blank')
      %li= link_to('Project Euler', 'https://projecteuler.net/', target: '_blank')
      %li= link_to('Drawing In Code', 'https://jaredcosulich.github.io/drawing_code', target: '_blank')
      %li= link_to('Marshmallow Towers', 'http://www.tomwujec.com/design-projects/marshmallow-challenge/', target: '_blank')
      %li= link_to('Popsicle Stick Bridges', 'http://courses.washington.edu/engr100/Section_Brad/01_hnd_BridgeIntro.htm', target: '_blank')
      %li= link_to('Rubber Band Catapults', 'http://kidsactivitiesblog.com/55055/15-easy-catapults-to-make', target: '_blank')

  .col-xs-12.hidden-lg-up.text-xs-center
    = image_tag 'programs/pivotal/image6.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/pivotal/image7.jpg', class: 'rounded img-fluid'

.row.py-2
  .col-xs-12.col-md-10.offset-md-1
    %blockquote.blockquote.py-2.bordered
      %p.small
        %em Charlie is really enjoying himself. He said what he likes most about it:
      %ul.small
        %li
          %em The one on one help
        %li
          %em The mentors don’t tell you what to do, but they work with you to help you figure it out yourself (YaY)
        %li
          %em Really enjoys the connection with the tutors/mentors
      %p.mb-0.small
        %em
          Charlie is finding communicating and learning easy in this environment. He does not have a lot of opportunities
          to interact with adults who inspire him the way the mentors in the program have so far. He loves that connection
          and he always leaves Monday night feeling so good about himself and his time at the open space. Before he went to
          bed he asked me, “Why can’t school be like coding class, I would be so excited to go in the morning."

      %footer.blockquote-footer.text-xs-right.small
        Mary (Charlie's Mom)


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Results So Far
    %p
      We've now run the program for two eight-week sessions and we continue to evolve and improve
      the design. What started out primarily as a coding program has evolved to become more
      hands-on and creative with a focus on invention.
    %p
      Most importantly the students are increasingly taking ownership of the environment,
      reflecting on everything from the challenges to the rules to the overall environment
      and providing us with feedback. This allows us to continue evolving the program in
      a direction that better meets the needs and interests of the students.



  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/pivotal/image4.jpg', class: 'rounded img-fluid'


.row.py-2
  .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/wMEgDLaMvU0"}
