.row.text-xs-center.py-3.mt-3
  .col-xs-12.col-lg-8.offset-lg-2
    %h1.py-3.title
      Pivotal Mentors "Learn To Code"
      %br.hidden-sm-down
      Pilot Program
    %p.mt-1
      Starting in August of 2016 we partnered up with
      = link_to('Pivotal Labs', 'https://pivotal.io/labs', target: '_blank')
      to run our first "Learn To Code" program we dubbed the "Pivotal Mentors Program".

.row.py-2
  .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/wMEgDLaMvU0"}


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Goal
    %p
      The goal for the program was simple. Can we make use of the Pivotal Labs office
      and coordinate some of the engineers at Pivotal Labs to help students in the Cambridge
      area learn how to code? We simply wanted to start by providing positive software development
      experiences for students in order to hopefully inspire some to continue learning more
      once the program was over and ensure that all students felt capable of coding if they
      ever did decide they wanted to pursue it later in life.

  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/pivotal/image1.jpg', class: 'rounded img-fluid'


.row.py-2

  .col-lg-4.offset-lg-1.hidden-md-down
    = image_tag 'programs/pivotal/image2.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/pivotal/image3.jpg', class: 'rounded img-fluid'

  .col-xs-12.col-md-10.offset-md-1.offset-lg-0.col-lg-6
    %h5 The Approach
    %p
      Within this program we would focus on a number of ideas that we want to explore with The Puzzle School:
    %ul.no_shift.spaced_out
      %li
        Having students test existing resources and provide feedback in order to find the best
        resources students can use to learn at their own pace.
      %li
        Running retrospectives at the end of each sessions to get feedback from students around what worked and didn't that
        week.
      %li
        Supporting students toward independent and small group projects they design themselves
        and will continue working on after the program has ended.

    %p
      The existing resources we decided to test included:
    %ul.no_shift.spaced_out
      %li= link_to('Scratch', 'https://scratch.mit.edu/', target: '_blank')
      %li= link_to('Codecademy', 'https://www.codecademy.com/', target: '_blank')
      %li= link_to('CodeCombat', 'https://codecombat.com/', target: '_blank')
      %li= link_to('Project Euler', 'https://projecteuler.net/', target: '_blank')
      %li
        Javascript Game Tutorials:
        = "#{link_to('Snake Game', 'http://docs.railsbridge.org/javascript-snake-game/', target: '_blank')}, ".html_safe
        = "#{link_to('Breakout Game', 'http://breakout.enclavegames.com/', target: '_blank')}, ".html_safe
        = link_to('Phaser.io Game', 'http://phaser.io/tutorials/making-your-first-phaser-game', target: '_blank')

    %p
      We also developed a number of discrete challenge-based lessons, including a scavenger hunt focused on
      decrypting messages using algorithms.

  .col-xs-12.hidden-lg-up.text-xs-center
    = image_tag 'programs/pivotal/image2.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/pivotal/image3.jpg', class: 'rounded img-fluid'

.row.py-2.hidden-xs-down
  .col-xs-12.col-md-10.offset-md-1
    %blockquote.blockquote.py-2.bordered
      %p
        Charlie is really enjoying himself. He said what he likes most about it:
      %ul
        %li The one on one help
        %li The mentors don’t tell you what to do, but they work with you to help you figure it out yourself (YaY)
        %li Really enjoys the connection with the tutors/mentors
      %p.mb-0
        Charlie is finding communicating and learning easy in this environment. He does not have a lot of opportunities
        to interact with adults who inspire him the way the mentors in the program have so far. He loves that connection
        and he always leaves Monday night feeling so good about himself and his time at the open space. Before he went to
        bed he asked me, “Why can’t school be like coding class, I would be so excited to go in the morning."

      %footer.blockquote-footer.text-xs-right
        Mary (Charlie's Mom)


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Results
    %p
      For most students
      = link_to('CodeCombat', 'https://codecombat.com/', target: '_blank')
      provided the greatest initial interest, but as the program progressed
      the students moved more toward the javascript game tutorials before
      becoming a bit frustrated with the copy-and-paste nature of the tutorials.

    %p
      By the end of the program the clear feedback from students was that they preferred
      the discrete challenges, such as those offered in
      = "#{link_to('Project Euler', 'https://projecteuler.net/', target: '_blank')}, ".html_safe
      especially the scavenger hunt which provided an opportunity
      to decode messages and get up and move around the office to find tokens.

    %p
      In general everyone seemed to enjoy the program. Every student said they would
      come back to the next program if possible. While there's clearly room for improvement,
      the simple act of bringing students into an interesting non-school environment and
      having them work closely with experienced and empathetic mentors seemed to be a real
      success even as we experimented with the curriculum each week.

  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/pivotal/image4.jpg', class: 'rounded img-fluid'


.row.py-2
  .col-md-4.offset-md-1.col-lg-4.hidden-md-down
    = image_tag 'programs/pivotal/image5.jpg', class: 'rounded img-fluid'

  .col-xs-12.col-md-10.offset-md-1.offset-lg-0.col-lg-6
    %h5 Moving Forward
    %p
      We're already in the process of developing ideas for the next program. We have
      ideas for more discrete challenges, we're exploring a "Drawing In Code" pathway,
      and we're brainstorm around how to more effectively support students toward projects
      of their own creation.
    %p
      We're also going to try and bring in more mentors from other software companies in
      the Kendall area. We were able to bring in a few for this past program and it went
      really well so hopefully the program can grow into more of a club where mentors and
      students can connect around interesting software engineering activities on a regular basis.

  .col-xs-12.text-xs-center.hidden-lg-up
    = image_tag 'programs/pivotal/image5.jpg', class: 'rounded img-fluid'
