.row.text-xs-center.py-3.mt-3
  .col-xs-12.col-lg-8.offset-lg-2
    %h1.py-3.title
      Pivotal Mentors "Learn To Code"
    %p.mt-1
      Starting in August of 2016 we partnered with
      = link_to('Pivotal Labs', 'https://pivotal.io/labs', target: '_blank')
      to an ongoing "Learn To Code" program we dubbed the "Pivotal Mentors Program".
      As the program has evolved we have integrated in more hands-on engineering
      and creative art activities in an attempt to explore a wider range of
      design oriented experiences.

.row.py-2
  .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/wMEgDLaMvU0"}


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Goal
    %p
      The goal for the program was simple. Can we make use of the Pivotal Labs office
      and coordinate some of the engineers at Pivotal Labs to help students in the Cambridge
      area learn how to code? We simply wanted to start by providing positive software development
      experiences for students in order to hopefully inspire some to continue learning more
      once the program was over and ensure that all students felt capable of coding if they
      ever did decide they wanted to pursue it later in life.

  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/pivotal/image1.jpg', class: 'rounded img-fluid'


.row.py-2

  .col-lg-4.offset-lg-1.hidden-md-down
    = image_tag 'programs/pivotal/image6.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/pivotal/image7.jpg', class: 'rounded img-fluid'

  .col-xs-12.col-md-10.offset-md-1.offset-lg-0.col-lg-6
    %h5 The Approach
    %p
      Within this program we would focus on a number of ideas that we want to explore with The Puzzle School:
    %ul.no_shift.spaced_out
      %li
        Having students test resources and provide feedback
        in order to find the best resources students can use to learn at their own pace.
      %li
        Having students engage in hands-on group projects to suppot a healthy social environment
        and explore diverse design exercises.
      %li
        Running retrospectives at the end of each sessions to get feedback from students around what worked and didn't that
        week.
      %li
        Supporting students toward independent and small group projects they design themselves
        and will continue working on at home.

    %p
      Some of the resources and activities we've had success with include:
    %ul.no_shift.spaced_out
      %li= link_to('CodeCombat', 'https://codecombat.com/', target: '_blank')
      %li= link_to('Project Euler', 'https://projecteuler.net/', target: '_blank')
      %li= link_to('Drawing In Code', 'https://jaredcosulich.github.io/drawing_code', target: '_blank')
      %li= link_to('Marshmallow Towers', 'http://www.tomwujec.com/design-projects/marshmallow-challenge/', target: '_blank')
      %li= link_to('Tongue Depressor Bridges', 'http://courses.washington.edu/engr100/Section_Brad/01_hnd_BridgeIntro.htm', target: '_blank')

    %p
      We also developed a number of discrete challenge-based activities, including a scavenger hunt focused on
      decrypting messages using algorithms.

  .col-xs-12.hidden-lg-up.text-xs-center
    = image_tag 'programs/pivotal/image6.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/pivotal/image7.jpg', class: 'rounded img-fluid'

.row.py-2.hidden-xs-down
  .col-xs-12.col-md-10.offset-md-1
    %blockquote.blockquote.py-2.bordered
      %p
        %em Charlie is really enjoying himself. He said what he likes most about it:
      %ul
        %li
          %em The one on one help
        %li
          %em The mentors don’t tell you what to do, but they work with you to help you figure it out yourself (YaY)
        %li
          %em Really enjoys the connection with the tutors/mentors
      %p.mb-0
        %em
          Charlie is finding communicating and learning easy in this environment. He does not have a lot of opportunities
          to interact with adults who inspire him the way the mentors in the program have so far. He loves that connection
          and he always leaves Monday night feeling so good about himself and his time at the open space. Before he went to
          bed he asked me, “Why can’t school be like coding class, I would be so excited to go in the morning."

      %footer.blockquote-footer.text-xs-right
        Mary (Charlie's Mom)


.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Results So Far
    %p
      We've now run the program twice. In the first session 7-week session we focused mostly
      on coding exercises. In the second sesion we've opened up the design to do more hands-on
      activities.
    %p
      Both styles of activities have been well-received although the hands-on activities are
      clearly more engaging. Most recently we've been exploring activities that bridge the
      gap between coding and a hands-on, more active experience, such as "coding" instructions
      on index cards that describe how to draw something simple and then seeing if another team
      can properly draw the same thing from your instructions.
    %p
      These hybrid actities have been well-received as well, but require more iteration in order
      to find activities that are active and hands-on but also help students
      develop their coding skills.


  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/pivotal/image4.jpg', class: 'rounded img-fluid'

.row.py-2
  .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/vS_m7DIDGS8"}
