.row.text-xs-center.py-3.mt-3
  .col-xs-12.col-lg-8.offset-lg-2
    %h1.py-3.title
      Student Voice
    %p.mt-1
      We've been meeting with a small group of high school students to get
      their thoughts on the ideal school design and feedback on The Puzzle
      School design.


.row.pb-2
  .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/pv7s8AyucyY"}


.row.py-2.mt-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 The Goal
    %p
      A primary goal of The Puzzle School is to put students at the center and give them
      greater ownership of their environment and their learning. So these discussions
      started out primarily as a way for us to get feedback about The Puzzle School design.
    %p
      The students we have been working with, though, have shown a great deal of interest
      in reflecting on their own educational experiences in search of a more effective school design.
    %p
      As such we've had a wide range of discussions around:
    %ul.spaced_out
      %li Their experiences progressing through various schools
      %li How they might handle publicly racist/sexist/etc actions in the school community.
      %li What the ideal school schedule might be.
      %li What subjects should be required.
      %li How they are approaching getting into college and how that affects their school experience.
      %li What great teaching looks like.
      %li What they would want to explore if they were to engage in an independent project of their own design.




  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/voice/image1.jpg', class: 'rounded img-fluid'
    .mt-3
      = image_tag 'programs/voice/image2.jpg', class: 'rounded img-fluid'


.row.py-2

  .col-lg-4.offset-lg-1.hidden-md-down
    = image_tag 'programs/voice/image3.jpg', class: 'rounded img-fluid'

  .col-xs-12.col-md-10.offset-md-1.offset-lg-0.col-lg-6
    %h5 The Process
    %p
      As our discussions progressed it became clear that many of the challenges
      the students saw in their educational experiences were not easily solved.
    %p
      This level of reflection has some significant benefits:
    %ol.spaced_out
      %li
        Students have an opportunity to develop their observational skills, their ability
        to articulate those observations, and their ability to empathize with
        the teachers and administrators at their school.
      %li
        As students recognize the complexity of the situation then often come to
        appreciate how hard everyone in the school is trying and may come to appreciate
        more what their school is doing for them.


  .col-xs-12.hidden-lg-up.text-xs-center
    = image_tag 'programs/voice/image3.jpg', class: 'rounded img-fluid'

.row.py-2
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-1
    %h5 Moving Forward
    %p
      As The Puzzle School exploration progresses we hope to continue to
      get feedback directly from students. Eventually we wil form a student
      advisory board, ideally consisting of students that will attend
      The Puzzle School.
    %p
      Once The Puzzle School exists these discussions will become regular
      practice as The Puzzle School continuously evolves to better meet the
      needs of students.

  .col-xs-12.col-lg-4.text-xs-center.text-lg-right
    = image_tag 'programs/voice/image4.jpg', class: 'rounded img-fluid'


.row.py-3
  .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/6PRKTd96A48"}
