.row.text-xs-center.py-3.mt-3
  .col-xs-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
    %h1.py-3.title Puzzle School Advisors
    %p.mt-1
      We are actively connecting with prominent and innovative educators, designers
      business people, scientists, etc. in the Cambridge area to advise the design
      of The Puzzle School. Our current advisors include:


.row.pt-2
  .col-xs-12.col-md-5.col-lg-3.offset-lg-2.text-xs-center.pb-2
    = image_tag 'advisors/grotzer.jpg', class: 'rounded-circle'

  .col-xs-12.col-md-7.col-lg-5
    %h5 Tina Grotzer
    %p
      Tina Grotzer is a member of the faculty of education at the Harvard Graduate
      School of Education, a Principal Research Scientist at Project Zero, and a
      faculty member at the Center for Health and the Global Environment at the
      Harvard School of Public Health. Tina directs the “Causal Learning in a
      Complex World Research Unit”. Prior to her work at HGSE, Grotzer was a
      program coordinator and teacher in public and private schools for 14 years.


.row.pt-2
  .col-xs-12.col-md-5.col-lg-3.offset-lg-2.text-xs-center.pb-2
    = image_tag 'advisors/frishman.jpg', class: 'rounded-circle'
  .col-xs-12.col-md-7.col-lg-5
    %h5 Andrew Frishman
    %p
      Andrew Frishman is the Co-Executive Director of Big Picture Learning;
      he completed his Doctorate of Education Leadership at the Harvard Graduate
      School of Education. Big Picture Learning includes a growing network
      of schools with over 65 currently in the US, and many more around the world,
      all focused on putting students at the center of their own learning.
      Andrew has one child currently in Cambridge Public Schools and his other
      will enter Jr. Kindergarten in CPS next year.


.row.pt-2
  .col-xs-12.col-md-5.col-lg-3.offset-lg-2.text-xs-center.pb-2
    = image_tag 'advisors/patin.jpg', class: 'rounded-circle'
  .col-xs-12.col-md-7.col-lg-5
    %h5 Khemenec Patin
    %p
      Khemenec Pantin is an adjunct lecturer at Boston College focused on developing
      advocacy and critical analysis of social welfare policy through a class and
      racial lens. He also served as an Education Analyst for the NYC Department of
      Education and as a Senior Policy Advisor for Intergovernmental Affairs as a
      part of the NYC Young Men’s Initiative under the Mayor's Office of Strategic
      Planning. Khemenec has two children who are students in Cambridge Public
      Schools.


.row.pt-2
  .col-xs-12.col-md-5.col-lg-3.offset-lg-2.text-xs-center.pb-2
    = image_tag 'advisors/ben-ur.jpg', class: 'rounded-circle'
  .col-xs-12.col-md-7.col-lg-5
    %h5 Ela Ben-Ur
    %p
      Ela Ben-Ur is the inventor of the Innovator's Compass, a simplified process for Design Thinking,
      and an adjunct assistant professor at Olin College. Ela worked for 13 years
      at renowned innovation firm IDEO where she co-founded of IDEO’s Leadership Studio.
      Ela has also offered workshops through her alma mater, MIT (BS and MS in Mechanical Engineering),
      Sloan, Babson, Dartmouth and Harvard. Ela’s daughter is a student in Cambridge Public Schools.


.row.pt-2
  .col-xs-12.col-md-5.col-lg-3.offset-lg-2.text-xs-center.pb-2
    = image_tag 'advisors/riordan.jpg', class: 'rounded-circle'
  .col-xs-12.col-md-7.col-lg-5
    %h5 Rob Riordan
    %p
      Rob Riordan, Ed.D., is a co-founder of High Tech High and President Emeritus of the HTH
      Graduate School of Education. A teacher, trainer, and program developer for over 45 years,
      he has worked with teams to develop 14 new K-12 schools. Rob taught at the Cambridge Rindge
      and Latin School, served as K-12 Language Arts Coordinator for Cambridge Public Schools,
      and was a part-time faculty member at the Harvard Graduate School of Education.


.row.pt-2
  .col-xs-12.col-md-5.col-lg-3.offset-lg-2.text-xs-center.pb-2
    = image_tag 'advisors/resnick.jpg', class: 'rounded-circle'
  .col-xs-12.col-md-7.col-lg-5
    %h5 Alec Resnick
    %p
      Alec Resnick is the co-founder of Powderhouse Studios, a new innovation school in Somerville, MA,
      and recent winner of the nationwide XQ prize.  Powderhouse Studios grew out of the work of
      sprout & co, a science education non-profit based in Somerville which has designed and
      run in- and afterschool programs with youth and evening programs with adults since 2009.
      Before sprout & co, Alec worked developing educational tools and toys and studied mathematics at MIT.
