= render partial: 'layouts/logo'

.row.py-1
  .col-xs-12.text-xs-center
    -#
      %p.hidden-xs-down
        “Who in the world am I? Ah, that's the great puzzle.”
        \~ Lewis Carroll
    %p
      “Math, it's a puzzle to me.
      %br.hidden-sm-up
      I love figuring out puzzles.”
      %br.hidden-sm-up
      \~ Maya Lin
    %p
      “For me, writing
      %span.hidden-xs-down a novel
      is like solving a puzzle.”
      %br.hidden-sm-up
      \~ Mohsin Hamid
    %p
      “Once I get on a puzzle, I can't get off.”
      %br.hidden-sm-up
      \~ Richard Feynman
    -#
      %p.hidden-xs-down
        “Creativity is just connecting things.”
        \~ Steve Jobs
    -#
      %p.hidden-xs-down
        “The puzzle of solving the murder is what drives him on.”
        \~ John Thaw
    -#
      %p
        “As a kid, I just got lost in the
        %br.hidden-sm-up
        puzzle of acting, the magic of it.”
        %br.hidden-sm-up
        \~ Michael J. Fox

.row.pt-3.pb-2
  .col-xs-12.text-xs-center
    = link_to('The Design Metaphor', "PuzzleSchoolDescription.pdf", class: 'btn btn-outline-primary btn-lg mx-2 px-3 mb-2')

.row.pt-2.pb-2
  .col-xs-12.text-xs-center
    = link_to('Learn More', learn_more_path, class: 'btn btn-outline-primary btn-lg mx-2 px-3 mb-2')
    = link_to('Current Programs', programs_path, class: 'btn btn-outline-primary btn-lg mx-2 mb-2')
    = link_to('Technology R&D', technologies_path, class: 'btn btn-outline-primary btn-lg mx-2 mb-2')
