.splash-container
  .splash
    %h1.splash-head= image_tag('logo.png', class: 'logo pure-img')
    %p.splash-subhead
      A new public K-12 school in the exploratory stage
      %br
      Based in Cambridge, MA

    %br

    %p
      = "Read a #{link_to('description of the school', '/PuzzleSchoolDescription.pdf', target: '_blank')}.".html_safe

    %br

    %p
      “Who in the world am I? Ah, that's the great puzzle.” ~ Lewis Carroll
    %p
      “Math, it's a puzzle to me. I love figuring out puzzles.” ~ Maya Lin
    %p
      “Once I get on a puzzle, I can't get off.” ~ Richard Feynman
    %p
      “As a kid, I just got lost in the puzzle of acting, the magic of it.” ~ Michael J. Fox
    %p
      “Creativity is just connecting things.” ~ Steve Jobs
    %p
      “For me, writing a novel is like solving a puzzle.” ~ Mohsin Hamid
    %p
      “The puzzle of solving the murder is what drives him on.” ~ John Thaw

    %br

    .mailing-list
      %p.splash-subhead Sign Up For Updates
      = form_for @subscriber, html: {class: 'pure-form pure-form-stacked'} do |f|
        .fieldset
          %p
            = f.label :name, 'Your Name'
            = f.text_field :name
          %p
            = f.label :email, 'Your Email'
            = f.text_field :email
        .fieldset
          %p
            = f.label :notes, 'Why are you interested?'
            = f.text_area :notes
        .actions
          = f.submit 'Sign up for updates', class: 'pure-button pure-button-active'
