= render partial: 'layouts/logo'

.row.py-2
  .col-xs-12.col-md-8.offset-lg-2.col-lg-5
    %h5 The Innovation School Model
    %p
      The Innovation Schools initiative was signed into law in January 2010.
      It allows districts to to explore innovative ideas while keeping school funding within districts.
    %p
      It requires that the Superintendent, Teacher's Union (Cambridge Education Association),
      and the School Committee all have a voice in the planning process and a vote in the approval proccess.
    %p
      There are currently 50 innovations schools around Massachusetts including 7 in Boston.
    %p
      There are not yet any innovation schools in Cambridge.

  .col-xs-12.col-md-4.col-lg-3.text-xs-center.text-md-right
    = image_tag 'massachusetts-seal.jpg'

.row.py-3
  .col-md-5.col-lg-3.offset-lg-2.hidden-sm-down
    = link_to(image_tag('puzzleschool_pdf.png'), 'PuzzleSchoolDescription.pdf', target: '_blank')

  .col-xs-12.col-md-7.col-lg-5
    %h5 The Puzzle School Exploration
    %p
      We are in the early stages of exploring a new upper or alternative high school
      in Cambridge.
    %p
      The "puzzle" metaphor is about a process rather than a specific design.
      The process consists of deep observations, developing and testing hypotheses,
      and seeking feedback as you make progress toward your goal.
    %p
      This process will inform all aspects of The Puzzle School, from how the school is run to the
      student's day-to-day experience to how students approach their own learning.
    %p
      You can read more in this
      = link_to('pdf description', 'PuzzleSchoolDescription.pdf', target: '_blank')
      of The Puzzle School.

  .col-xs-12.text-xs-center.hidden-md-up
    = link_to(image_tag('puzzleschool_pdf.png'), 'PuzzleSchoolDescription.pdf', target: '_blank')


.row.py-3
  .col-xs-12.col-md-9.col-lg-6.offset-lg-2
    %h5 The Goals Of The Process
    %p
      The Puzzle School will use this process to continuously work toward a school that
      best helps each individual student. In doing so we hope to:
    %ul.no_shift.spaced_out
      %li Create a healthy environment for all students and teachers.
      %li Give students greater agency and responsibility over their school.
      %li
        Explore student interests and diverse opportunities, such as internships,
        independent and group projects, and online and community programs.
      %li Provide teachers autonomy and opportunities for collaboration.

  .col-xs-12.col-md-3.col-lg-2.text-xs-center.text-md-right
    = image_tag 'compass.png'


.row.py-3
  .col-md-5.offset-lg-2.col-lg-3.hidden-sm-down
    = link_to(image_tag('programs_thumb.png', class: 'rounded-circle'), programs_path, target: '_blank')

  .col-xs-12.col-md-7.col-lg-5
    %h5 Our Programs
    %p
      We are currently running programs with students in Cambridge.
      Some of the programs we have run or are developing include:
    %ul.no_shift.spaced_out
      %li Exploring student interests, strengths, and problems they are interested in solving in the world.
      %li Exploring math, art, and self expression through coding.
      %li Helping students think through goals and problems in their own lives using Design Thinking.
    %p
      Read more about our
      = link_to('programs >', programs_path)

  .col-xs-12.hidden-md-up.text-xs-center
    = link_to(image_tag('programs_thumb.png', class: 'rounded-circle'), programs_path, target: '_blank')

.row.py-3
  .col-xs-12.col-md-9.col-lg-6.offset-lg-2
    %h5 Our Advisors
    %p
      The Puzzle School is working with educational leaders from around Cambridge.
    %p
      They represent decades of teaching experience and have started, run, and worked for
      innovative and prominent schools in the country:
    %ul.no_shift.spaced_out
      %li A faculty member from the Harvard Graduate School of Education
      %li A co-founder of High Tech High
      %li A co-executive director of Big Picture Learning
      %li Adjunct professors from Olin and Boston College
    %p
      Learn more about our
      = link_to('advisors >', advisors_path)

  .col-xs-12.col-md-3.col-lg-2
    .row
      .col-xs-4.col-sm-2.col-md-6.pb-1
        = image_tag('advisors/grotzer-thumb.jpg', class: 'rounded')
      .col-xs-4.col-sm-2.col-md-6.pb-1
        = image_tag('advisors/riordan-thumb.jpg', class: 'rounded')
      .col-xs-4.col-sm-2.col-md-6.pb-1
        = image_tag('advisors/patin-thumb.jpg', class: 'rounded')
      .col-xs-4.col-sm-2.col-md-6.pb-1
        = image_tag('advisors/kuldell-thumb.jpg', class: 'rounded')
      .col-xs-4.col-sm-2.col-md-6.pb-1
        = image_tag('advisors/ben-ur-thumb.jpg', class: 'rounded')
      .col-xs-4.col-sm-2.col-md-6
        = image_tag('advisors/frishman-thumb.jpg', class: 'rounded')

= render Subscriber.new
