= render partial: 'layouts/logo'

.row.py-2
  .col-xs-12.col-md-5.offset-md-2
    %h5 The Innovation School Model
    %p
      The Innovation Schools initiative was signed into law by Governor Patrick in January 2010.
      It provides opportunities for districts to work with autonomous schools to explore innovative
      ideas while keeping school funding within districts.
    %p
      There are currently 50 innovations schools around Massachussettes including 7 in Boston.
    %p
      There are not yet any innovation schools in Cambridge.

  .col-xs-12.col-md-3.text-xs-right
    = image_tag 'massachusetts-seal.jpg'

.row.py-3
  .col-xs-12.col-md-3.offset-md-2
    = link_to(image_tag('puzzleschool_pdf.png'), 'PuzzleSchoolDescription.pdf', target: '_blank')

  .col-xs-12.col-md-5
    %h5 The Puzzle School Exploration
    %p
      We are in the early stages of exploring a new upper or alternative high school
      in Cambridge.
    %p
      The "puzzle" metaphor focuses on a process rather
      than a specific design. The process consists of deep observations,
      developing ideas and hypotheses, testing hypotheses and seeking feedback
      as you make progress toward your goal.
    %p
      This process will inform everything in The Puzzle School, from running the school to the
      student experience to how students approach their own learning.
    %p
      You can read more in this
      = link_to('pdf description', 'PuzzleSchoolDescription.pdf', target: '_blank')
      of The Puzzle School.


.row.py-3
  .col-xs-12.col-md-6.offset-md-2
    %h5 The Goals Of The Process
    %p
      The Puzzle School will use this process to continuously work toward a school that
      best helps each individual student. In doing so we hope to:
    %ul.no_shift.spaced_out
      %li Create a healthy environment for all students and teachers.
      %li Give students greater agency and responsibility over their school.
      %li
        Explore student interests and diverse opportunities, such as internships,
        independent and group projects, and online and community programs.
      %li Provide teachers autonomy and opportunities for collaboration.

  .col-xs-12.col-md-2.text-xs-right
    = image_tag 'compass.png'


.row.py-3
  .col-xs-12.col-md-3.offset-md-2
    = link_to(image_tag('programs_thumb.png', class: 'rounded-circle'), programs_path, target: '_blank')

  .col-xs-12.col-md-5
    %h5 Our Programs
    %p
      We are currently running programs with students in Cambridge.
      Some of the programs we have run or are developing include:
    %ul.no_shift.spaced_out
      %li Exploring student interests, strengths, and problems they are interested in solving in the world.
      %li Exploring math, art, and self expression through coding.
      %li Helping students think through goals and problems in their own lives using Design Thinking.
    %p
      Read more about our
      = link_to('programs >', programs_path)

.row.py-3
  .col-xs-12.col-md-6.offset-md-2
    %h5 Our Advisors
    %p
      The Puzzle School is working with educational leaders from around Cambridge.
    %p
      They represent decades of teaching experience and have started, run, and worked for
      some of the most innovative and prominent secondary and higher educational schools
      in the country:
    %ul.no_shift.spaced_out
      %li A faculty member from the Harvard Graduate School of Education
      %li A co-founder of High Tech High
      %li A co-executive director of Big Picture Learning
      %li Adjunct professors from Olin and Boston College

  .col-xs-12.col-md-2
    .row
      .col-xs-6.pb-1
        = image_tag('advisors/grotzer.jpg', class: 'rounded')
      .col-xs-6.pb-1
        = image_tag('advisors/riordan.jpg', class: 'rounded')
    .row
      .col-xs-6.pb-1
        = image_tag('advisors/patin.jpg', class: 'rounded')
      .col-xs-6.pb-1
        = image_tag('advisors/ben-ur.jpg', class: 'rounded')
    .row
      .col-xs-6
        = image_tag('advisors/frishman.jpg', class: 'rounded')
      .col-xs-6
        = image_tag('advisors/resnick.jpg', class: 'rounded')

= render Subscriber.new
