- @noquotesandsubscriber = true

.row.text-xs-center.py-3.mt-3
  .col-xs-12
    %h1.title
      = image_tag('technologies/codepuzzle.png', class: 'img-fluid')

- if @code_puzzle_form.access_count == 1 && @code_puzzle_form.payment > -1
  .row.text-xs-center.py-2
    .col-xs-12
      %h4 Thank you so much for your support!

.row.py-2
  .col-xs-12.col-lg-8.offset-lg-2
    %h3 Instructions
    %p Below you'll find:
    %ol
      %li A zip file you can download that contains all of the card sheets as pdfs you can print.
      %li A cheetsheat page that has tips and instructions for each card.
      %li Individual pdfs of cards you can download and print.
      %li Two sample programs you can print out and photograph with the app right away.
      %li A video walk-through of the app.

    %p If you have not already, you can download the app here:
    = link_to("The Code Puzzle App", "https://itunes.apple.com/us/app/the-code-puzzle/id1294002353", target: '_blank', class: 'btn btn-primary')

.row.py-2
  .col-xs-12.col-lg-8.offset-lg-2
    %h3 The Code Puzzle Files
.row
  .col-xs-6.col-sm-4.offset.col-lg-2.offset-lg-2
    %figure.figure
      .figure-img.img-fluid.rounded= link_to(image_tag('codepuzzle/zip.png', class: 'img-fluid'), "/code_puzzle/cards.zip", target: '_blank')
      %figcaption.figure-caption.text-xs-center Zip of all cards

  .col-xs-6.col-sm-4.col-lg-2
    %figure.figure
      .figure-img.img-fluid.rounded= link_to(image_tag('codepuzzle/cheatsheet.png', class: 'img-fluid'), "/code_puzzle/cheatsheet.pdf", target: '_blank')
      %figcaption.figure-caption.text-xs-center Cheatsheet


.row.py-2
  .col-xs-12.col-lg-8.offset-lg-2
    %h3 Individual Cards

.row
  .col-xs-12.col-lg-8.offset-lg-2
    .row
      - CodePuzzleCard::CARDS.each do |card|
        .col-xs-6.col-sm-3.text-xs-center
          %figure.figure
            .figure-img.img-fluid.rounded= link_to(image_tag("codepuzzle/cards/#{card[0]}.png", class: 'img-fluid'), "/code_puzzle/cards/#{card[0]}.pdf", target: '_blank')
            %figcaption.figure-caption.text-xs-center= "#{card[1]} (#{card[0]})"



.row.py-2
  .col-xs-12.col-lg-8.offset-lg-2
    %h3
      Self-Contained Programs
      %small (just print and photograph with the app)

.row
  .col-xs-6.offset-lg-2
    %figure.figure
      .figure-img.img-fluid.rounded= link_to(image_tag('codepuzzle/simplehouse.png', class: 'img-fluid'), "/code_puzzle/simple_house.pdf", target: '_blank')
      %figcaption.figure-caption.text-xs-center A simple house


.row.py-2
  .col-xs-12.col-lg-8.offset-lg-2
    %h3 App Walk-Through
