.row.py-3.mt-3
  .col-xs-12.col-md-8.offset-md-2
    %h1.py-3.title.text-xs-center Technology
    %h4.mt-1.text-xs-center Clarification
    %p.mt-1
      People sometimes mistake The Puzzle School for an online learning effort or
      a school where the curriculum would be primarily through online resources.
    %p
      In reality The Puzzle School seeks to be a physical school that offers students
      a wide range of experiences. We are trying to create a school where students have
      greater ownership over their environment and education, where they develop meaningful
      relationships with teachers and mentors, and where they have time
      to explore their interests and engage in a wide range of studies, projects, and real
      world experiences such as internships.

    %p
      The primary puzzle will be how we can piece everything together, from programs
      to technology to community resources in a flexible and responsive manner to best
      serve the needs of each individual student.
    %p
      %b Technology will play a role in supporting this vision, but it is far from the only concern.

.row.py-3
  .col-xs-12.offset-lg-2.col-lg-8
    %h2.text-xs-center Infrastructure
    %p.mt-2
      The following websites have been developed to help with infrastructural challenges
      at The Puzzle School, including better communication between students, teachers,
      and parents as well as better ways of connecting with the community and exploring
      student interests.

.row.py-2
  .col-xs-12.offset-lg-2
    %h5 EdContext

  .col-xs-12.col-md-7.col-lg-5.offset-lg-2
    %p
      We've partnered up with Jack Schneider, an assistant professor at Holy Cross and
      the Director of Research with the Massachusetts Consortium for Innovative Education Assessment
      to build a text-messaging service that will allow The Puzzle School (and other schools) to
      collect feedback from students, parents, and teachers throughout the year on a wide-ranging
      set of questions about their experiences with the school.
    %p
      We believe this will help The Puzzle School (and other schools) more effectively listen to
      everyone involved in the school, helping to ensure that the loudest voices are not the only
      opinions considered. We hope the EdContext tool can help foster a more supportive, communicative,
      and involved community by collecting feedback from everyone in the community and making that
      feedback, aggregated to protect privacy, available for everyone else to see and act on.
    %p
      %b Status:
      Initial pilots in Cambridge and Somerville Public Schools

  .col-xs-12.col-md-5.col-lg-3.text-xs-center
    = image_tag('technologies/edcontext.png', class: 'img-fluid rounded-circle', style: 'border: 1px solid #aaa;')


.row.py-2
  .col-xs-12.offset-md-6.offset-lg-5
    %h5 ThoughtfulRecommendations

  .col-xs-12.col-md-6.col-lg-3.text-xs-center.offset-lg-2.hidden-sm-down
    = image_tag('technologies/thoughtfulrecommendations.png', class: 'img-fluid rounded-circle', style: 'border: 1px solid #aaa;')

  .col-xs-12.col-md-6.col-lg-5
    %p
      The primary goal of ThoughtfulRecommendations is to provide students with more visibility
      into the interests, hobbies, and passions of the teachers at The Puzzle School and other
      adult mentors in the community. The website makes it easy for someone to create a profile
      and list out everything they've discovered in the world that they really appreciate, that
      they would recommend to just about anyone. When you list something you also provide
      a "thoughtful recommendation", so there's a description of why you would recommend it.
    %p
      This allows students to discover fascinating resources and experiences that their teachers
      and other adults in their life really appreciate. It also allows students to get a more
      intimate idea of who the adults in their life are and how complex their interests and lives
      may be. They may even discover that they share some interests and then the student can
      explore the recommendations or even connect with the teacher around that interest.
    %p
      Students could also create profiles for themselves, building up a list of high quality
      resources along with thoughtful recommendations about each one. This could help a student
      share their observations about the world around them and their interests with
      teachers, colleges, and future employers.
    %p
      %b Visit:
      = link_to 'ThoughtfulRecommendations.com', 'http://www.thoughtfulrecommendations.com', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center.hidden-md-up
    = image_tag('technologies/thoughtfulrecommendations.png', class: 'img-fluid rounded-circle', style: 'border: 1px solid #aaa;')



.row.py-3
  .col-xs-12.offset-lg-2.col-lg-8
    %h2.text-xs-center Curriculum
    %p.mt-2
      The following projects are explorations around creating high quality resources that
      support students in their learning through the puzzle-solving process that The Puzzle
      School is built around. Each resource is designed to be interactive, iterative, and
      scaffolded with high quality feedback loops.
    %p
      Again it should be stressed that these projects would not be the only learning resources
      used in The Puzzle School. They simply represent our ongoing exploration around creating
      high quality
      = link_to 'programs', programs_path
      and resources to support students in diverse learning pathways.

.row.py-2
  .col-xs-12.offset-lg-2
    %h5 Circuitous

  .col-xs-12.col-md-7.col-lg-5.offset-lg-2
    %p
      Circuitous is a fully functional circuit simulator. We've layered on top
      a series of challenges that people can help direct a student's learning,
      but students can simply play around with the simulator as well.
    %p
      Each challenge has a series of hints, an example solution, and a video
      explanation of the challenge and solution.
    %p
      %b Visit:
      = link_to 'Circuituous', 'http://puzzleschoolapps.herokuapp.com/puzzles/circuitous', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center
    = image_tag('technologies/circuitous.png', class: 'img-fluid', style: 'border: 1px solid #aaa')


.row.py-2
  .col-xs-12.offset-md-6.offset-lg-5
    %h5 XYFlyer

  .col-xs-12.col-md-6.col-lg-3.offset-lg-2.text-xs-center.hidden-sm-down
    = image_tag('technologies/xyflyer.png', class: 'img-fluid', style: 'border: 1px solid #aaa')

  .col-xs-12.col-md-6.col-lg-5
    %p
      XYFlyer is a simple puzzle app that provides a series of challenges around constructing
      equations. With each equation constructed you can immediately see the resulting graph and
      how different changes to each equation affect the graph.
    %p
      We've created over 200 levels that get more and more challenging.
      They can help students gain a better visual intuition about how equations graph out.
    %p
      You can also create your own levels with the
      = link_to 'Level Editor', 'http://puzzleschoolapps.herokuapp.com/puzzles/xyflyer/editor', target: '_blank'
    %p
      %b Visit:
      = link_to 'XYFlyer', 'http://puzzleschoolapps.herokuapp.com/puzzles/xyflyer', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center.hidden-md-up
    = image_tag('technologies/xyflyer.png', class: 'img-fluid', style: 'border: 1px solid #aaa')



.row.py-2
  .col-xs-12.offset-lg-2
    %h5 Drawing In Code

  .col-xs-12.col-md-7.col-lg-5.offset-lg-2
    %p
      The Puzzle School is collaborating with David Ng, the founder of
      = "#{link_to('Vertical Learning Labs', 'http://www.verticallearning.org', target: '_blank')}, to develop an".html_safe
      online resource designed to support an exploration of artistic observation and computational thinking.
      Essentially students will learn how to teach a computer to draw and design games. We are currently
      using the resource as one pathway for students to explore in our
      = "#{link_to('programs', programs_path)}.".html_safe
    %p
      Through a series of challenges students will develop their ability to observe their physical world
      and translate that into code so that a computer can draw it. From there students
      will be able to animate their drawing and make them interactive (games).
    %p
      Drawing In Code is still in development. The eventual goal is to support students toward projects of
      their own design that can then be shared with friends and family.
    %p
      %b Visit:
      = link_to 'Drawing In Code', 'https://jaredcosulich.github.io/drawing_code/index.html', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center
    = image_tag('programs/building.png', class: 'img-fluid', style: 'border: 1px solid #aaa')


.row.py-2
  .col-xs-12.offset-md-6.offset-lg-5
    %h5 Peanutty

  .col-xs-12.col-md-6.col-lg-3.offset-lg-2.text-xs-center.hidden-sm-down
    = image_tag('technologies/peanutty.png', class: 'img-fluid', style: 'border: 1px solid #aaa')

  .col-xs-12.col-md-6.col-lg-5
    %p
      Peanutty provides an interesting physics-based puzzle-solving environment where you can interact
      with a challenge by dragging, dropping, and drawing, and, with each interaction
      code is generated. Then you can edit the code to affect the interaction.
    %p
      Drop a ball and then change the dimensions of the ball to be much bigger and watch it drop again.
      Develop creative solutions to puzzles and then develop your own puzzles by tweaking or rewriting
      the level code.

    %p
      %b Visit:
      = link_to 'Peanutty', 'http://peanutty.org', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center.hidden-md-up
    = image_tag('technologies/peanutty.png', class: 'img-fluid', style: 'border: 1px solid #aaa')


.row.py-2
  .col-xs-12.offset-lg-2
    %h5 Code Puzzles

  .col-xs-12.col-md-7.col-lg-5.offset-lg-2
    %p
      Code Puzzles provides a series of puzzles that can help you learn how to code.
    %p
      Each puzzle has a lesson and hints to provide guidance, but you can also just
      mess around with the code and see what the results are. A number of lesson
      paths have been provided as well, such as creating a calculator in javascript.
    %p
      %b Visit:
      = link_to 'Code Puzzles', 'http://puzzleschoolapps.herokuapp.com/puzzles/code', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center
    = image_tag('technologies/code.png', class: 'img-fluid', style: 'border: 1px solid #aaa')


.row.py-2
  .col-xs-12.offset-md-6.offset-lg-5
    %h5 Language Scramble

  .col-xs-12.col-md-6.col-lg-3.offset-lg-2.text-xs-center.hidden-sm-down
    = image_tag('technologies/language_scramble.png', class: 'img-fluid', style: 'border: 1px solid #aaa')

  .col-xs-12.col-md-6.col-lg-5
    %p
      Language Scramble is a simple puzzle meant to help people learn a new language
      (right now we just have Italian).
    %p
      You're presented with a foreign (in this case Italian) word and need to unscramble
      the letters to form a correct translation in English.
    %p
      It's a little limited right now, focusing on traslation of written words, but has
      the potential to feature images and audio in the future.
    %p
      It's also limited in its availability right now. Although it does work on iPhones
      and iPads, you have to have a connection to the internet for it to work, but we're
      working on fixing that as well.
    %p
      %b Visit:
      = link_to 'Language Scramble', 'http://puzzleschoolapps.herokuapp.com/puzzles/language_scramble', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center.hidden-md-up
    = image_tag('technologies/language_scramble.png', class: 'img-fluid', style: 'border: 1px solid #aaa')


.row.py-2
  .col-xs-12.offset-lg-2
    %h5 Light It Up

  .col-xs-12.col-md-7.col-lg-5.offset-lg-2
    %p
      Light It Up was inspired by the fractions game, Refraction,
      developed by the
      = link_to "University of Washington's Center for Game Science", 'http://centerforgamescience.org/blog/portfolio/refraction/', target: '_blank'
    %p
      While we loved Refraction, we wanted to make a few changes.
    %ul.spaced_out
      %li We wanted to create puzzles that would teach students fractions more directly, so we reduced the number of obstacles in our levels, making the puzzles more about the fractions than the obstacles.
      %li We created a level editor that allows teachers to easily create custom levels to teach a specific fraction-based idea. The level editor also allows students to create their own puzzles, improving their mastery of fractions while creating puzzles as well as solving puzzles.
      %li We wanted to add in a feature that would walk you through the solution to the puzzle if you got stuck. We wanted to make the game more about learning then about solving the puzzles, so we focused on creating more levels with the ability to get help on any level that is too hard.
    %p
      %b Visit:
      = link_to 'Light It Up', 'http://puzzleschoolapps.herokuapp.com/puzzles/code', target: '_blank'

  .col-xs-12.col-md-5.col-lg-3.text-xs-center
    = image_tag('technologies/lightitup.png', class: 'img-fluid', style: 'border: 1px solid #aaa')
