- unless @noquotesandsubscriber
  .row.py-3
    .col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.text-xs-center
      .pb-3
        %p
          “So this was the big secret historians keep to themselves:
          historical research is wildly seductive and fun.
          %br.hidden-lg-down
          There's a thrill in the process of digging, then piecing
          together details like a puzzle.”
        %p.text-xs-right
          \~ Nancy Horan

      .pt-2.pb-3
        %p
          “As a kid, I was into music, played guitar in a band.
          Then I started acting in plays in junior high school and
          %br.hidden-lg-down
          just got lost in the puzzle of acting, the magic of it.
          I think it was an escape for me.”
        %p.text-xs-right
          \~ Michael J. Fox

      .pt-2
        %p
          “When you write non-fiction, you sit down at your desk with a pile
          of notebooks, newspaper clippings, and books
          %br.hidden-lg-down
          and you research and put a book together the way you would a jigsaw puzzle.”
        %p.text-xs-right
          \~ Janine di Giovanni


  = render Subscriber.new

%footer.footer
  .container
    .row.text-muted
      .col-xs-4.py-1.my-1
        %p= link_to 'Learn More', learn_more_path
        %p= link_to 'Technology', technologies_path
        %p= link_to 'Programs', programs_path
        %p= link_to 'Contact', contact_path
      .col-xs-4.py-3.text-xs-center
        = image_tag('compass_small.png')
      .col-xs-4.py-1.my-1.text-xs-right
        &copy;
        %span.hidden-xs-down Puzzle School
        2017
