- unless @noquotesandsubscriber
  .row.py-3
    .col-xs-10.offset-xs-1.col-lg-6.offset-lg-3
      .pb-3
        %p
          “So this was the big secret historians keep to themselves:
          historical research is wildly seductive and fun.
          There's a thrill in the process of digging, then piecing
          together details like a puzzle.”
        %p.text-xs-right
          \~ Nancy Horan

      .pt-2.pb-3
        %p
          “As a kid, I was into music, played guitar in a band.
          Then I started acting in plays in junior high school and
          just got lost in the puzzle of acting, the magic of it.
          I think it was an escape for me.”
        %p.text-xs-right
          \~ Michael J. Fox

      .pt-2.pb-3
        %p
          “When you write non-fiction, you sit down at your desk with a pile
          of notebooks, newspaper clippings, and books
          and you research and put a book together the way you would a jigsaw puzzle.”
        %p.text-xs-right
          \~ Janine di Giovanni

      .pt-2
        %p
          “I tell people all the time, as I was going through my process of being a
          comedian or being an actor and a writer at 'SNL,'
          I tell people that everything you do is all a piece of your puzzle to
          determine where you're going to end up at.”
        %p.text-xs-right
          \~ J. B. Smoove


  = render Subscriber.new

%footer.footer
  .container
    .row.text-muted
      .col-xs-4.pt-2
        %p= link_to 'Learn More', learn_more_path
        %p= link_to 'Technology', technologies_path
        %p= link_to 'Programs', programs_path
        %p= link_to 'Contact', contact_path
      .col-xs-4.text-xs-center.pt-2
        %p.text-uppercase
          A new public innovation school in the exploratory stage
          %br
          Based in Cambridge, MA

        %p= image_tag('compass_small.png')
      .col-xs-4.pt-2.text-xs-right
        &copy;
        %span.hidden-xs-down Puzzle School
        2017
        .pt-2.text-xs-right{style: 'padding-right: 27px'}
          %p Follow Us On
          = link_to(image_tag('facebook.png'), 'https://www.facebook.com/puzzleschool/', target: '_blank')
          &nbsp; &nbsp;
          = link_to(image_tag('twitter.png'), 'https://twitter.com/puzzleschool', target: '_blank', style: 'margin-right: 3px;')
