%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  .container
    .float-xs-right.text-xs-right
      %button.navbar-toggler.hidden-md-up{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      #navbarResponsive.collapse.navbar-toggleable-sm
        %ul.nav.navbar-nav.text-muted
          %li.nav-item
            = link_to 'Home', "http://www.puzzleschool.com", class: 'nav-link'
          %li.nav-item
            = link_to 'Learn More', "http://www.puzzleschool.com/learn_more", class: 'nav-link'
          %li.nav-item
            = link_to 'Programs', "http://www.puzzleschool.com/programs", class: 'nav-link'
          %li.nav-item
            = link_to 'Technology', "http://www.puzzleschool.com/technologies", class: 'nav-link'

    = link_to(image_tag('darker_logo_small.png'), "http://www.puzzleschool.com/")
