<%= form_with(model: code_puzzle_project, local: true) do |form| %>
  <% if code_puzzle_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code_puzzle_project.errors.count, "error") %> prohibited this code_puzzle_project from being saved:</h2>

      <ul>
      <% code_puzzle_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :code_puzzle_project_name %>
  </div>

  <div class="field">
    <%= form.label :code_puzzle_class_id %>
    <%= form.text_field :code_puzzle_class_id, id: :code_puzzle_project_code_puzzle_class_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
