<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @code_puzzle_project.name %>
</p>

<p>
  <strong>Code puzzle class:</strong>
  <%= @code_puzzle_project.code_puzzle_class_id %>
</p>

<%= link_to 'Edit', edit_code_puzzle_project_path(@code_puzzle_project) %> |
<%= link_to 'Back', code_puzzle_projects_path %>
